{{> head }}
{{> navbar }}
    
    <div class="row">
        <div class="col-8">
            <h1>Primera columna</h1>
            <p>
                Lorem ipsum
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/gato_chibi.png" class="img-thumbnail">
        </div>
            
    </div>

{{> footer }}